html,
body,
* {
    font-family: "SUSE", sans-serif;

    h1 {
        font-family: "Protest Guerrilla", sans-serif;
        font-size: 50px;
        text-align: center;
        font-weight: 300;
        background-color: cornflowerblue;
    }

    .parent {
        font-family: "SUSE", sans-serif;
        display: flex;
        flex-direction: row;
        height: 50vw;
        width: 100vw;

    }

    /* write the media screen code in order of largest to smallest screen .post { */


    .post {
        border: solid black;
        width: 30%;
        height: 90%;
        margin: 10px;
        padding: 5px;
        text-align: center;

    }

    .pictures {
        width: 100%;
        object-fit: cover;
        display: flex;
    }