 html,
body,
* {
    font-family: "SUSE", sans-serif;
    font-size: 16px;
    margin: 0;   
    box-sizing:border-box;
    text-align: center; /* Base font size */

@media screen and (min-width: 801px) {
    h1 {
        font-family: "Protest Guerrilla", sans-serif;
        width:100vw;
        height:30vh;
        color: #f0f8ff;
        font-weight: 300;
        background-image: url("https://i.pinimg.com/564x/af/6c/a5/af6ca57294fc1da15ae20388fa48c55c.jpg");
        background-position: center;
        display:flex;
        justify-content: center;
        align-items:center;  
        /* adjst following iterms for media queries*/
        font-size: 6vw; 
        padding: 7rem;
        margin-bottom: 0.5rem;
     
     }

    .parent {
        display: flex;
        flex-wrap:wrap; /* moves items overlfowing to the next line*/
        flex-direction: row;
        width: 100%;
        gap:1rem;
        /* adjst following iterms for media queries*/
        height:100%;

    }

    .post {
        font-weight: bold;
        box-sizing: border-box;
        border: 2px solid black;
        box-shadow: 15px 20px 15px rgb(248, 202, 179);
        /* adjst following iterms for media queries*/
        font-size: 8rem;
        width: 22vw;
        height: 40vw;
        margin: 1rem; 
        padding: 1rem;
    }

    .pictures {
        width: 100%;
        height: 80%;
        object-fit: cover;
        display: flex;
        border: 2px solid black;
        /* adjst following iterms for media queries*/        
        margin-bottom:1rem;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw; 
        padding: 3rem;
        margin-bottom: 0.25rem;
    }

    .parent {
        width: 50%;

        }

    .post {
        font-size: 0.5rem;
        width: 100%;
        height: auto;
        margin: 1rem;
        padding: 0.1rem;
        
    }

    .pictures {
        margin-bottom:1rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 6vw; 
        padding: 3rem;
        margin-bottom: 0.25rem;
    }

    .parent {
        height: 100%;
        width:100%;
        }

    .post {
        font-size: 0.5rem;
        width: 100%;
        height: auto;
        margin: 1rem;
        padding: 0.1rem;
        
    }

    .pictures {
        margin-bottom:1rem;
    }
}


/* write the media screen code in order of largest to smallest screen .post { */ 

/* write the media screen code in order of largest to smallest screen .post { */ 

